oc_project_name='AppleSupport'
oc_package_name='AppleSupportPkg'
oc_release_support=true
oc_version_header_file='Include/AppleSupportPkgVersion.h'
oc_version_macro_name='APPLE_SUPPORT_VERSION'
oc_dependency_repos=()
oc_dependency_names=()
oc_dependency_branches=(
  'master'
  'master'
  )
oc_build_targets=(
  'NOOPT'
  'DEBUG'
  'RELEASE'
  )
oc_release_targets=(
  'NOOPT'
  'DEBUG'
  'RELEASE'
  )
oc_release_files=(
  'ApfsDriverLoader.efi'
  'AppleUiSupport.efi'
  'AppleImageLoader.efi'
  )
oc_release_dirs=(
  'Drivers'
  '' # root directory
  'Applications'
  )
